*

!.gitignore
!Cargo.toml
!Cargo.lock
!build-wasm.sh
!examples/
!examples/**
!spec.md
!parser.md

!lume/
!lume/Cargo.toml
!lume/src/
!lume/src/**

!lume-lsp/
!lume-lsp/Cargo.toml
!lume-lsp/src/
!lume-lsp/src/**

!lume-wasm/
!lume-wasm/Cargo.toml
!lume-wasm/codemirror.ts
!lume-wasm/src/
!lume-wasm/src/**

!tools/
!tools/zed-lume/
!tools/zed-lume/Cargo.toml
!tools/zed-lume/Cargo.lock
!tools/zed-lume/extension.toml
!tools/zed-lume/src/
!tools/zed-lume/src/**
!tools/zed-lume/languages/
!tools/zed-lume/languages/**
