*

!.gitignore
!Cargo.toml
!Cargo.lock
!build-wasm.sh
!examples/
!examples/**
!spec.md
!parser.md

!lume/
!lume/Cargo.toml
!lume/src/
!lume/src/**

!lume-lsp/
!lume-lsp/Cargo.toml
!lume-lsp/src/
!lume-lsp/src/**

!lume-wasm/
!lume-wasm/Cargo.toml
!lume-wasm/codemirror.ts
!lume-wasm/src/
!lume-wasm/src/**

!std/
!std/**.lume

!tests/
!tests/tests.toml
!tests/run.py
!tests/**.lume

!tools/
!tools/zed-lume/
!tools/zed-lume/Cargo.toml
!tools/zed-lume/Cargo.lock
!tools/zed-lume/extension.toml
!tools/zed-lume/src/
!tools/zed-lume/src/**
!tools/zed-lume/languages/
!tools/zed-lume/languages/**
!tools/vscode-lume/
!tools/vscode-lume/.vscodeignore
!tools/vscode-lume/esbuild.js
!tools/vscode-lume/language-configuration.json
!tools/vscode-lume/package.json
!tools/vscode-lume/package-lock.json
!tools/vscode-lume/tsconfig.json
!tools/vscode-lume/src/
!tools/vscode-lume/src/**
